* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: .14rem; }
  
  html, body, .box {
    width: 100%;
    height: 100%;
    box-sizing: border-box; }
  
  html {
    font-size: 625%; }
  
  i, em {
    font-style: normal; }
  
  b {
    font-weight: normal; }
  
  ul li, ol li {
    list-style: none; }
  
  a {
    text-decoration: none;
    color: #000; }
 .box{
     width:100%;
     display: flex;
     flex-direction: column;
     background: #ccc;
 }
 header{
     width:100%;
     height: .39rem;
     border-bottom: 1px solid #ccc;
     display: flex;
     background: #fff;
     align-items: center;
     justify-content: space-between;
     padding:0 2%;
     .zz{
        flex:3;
        display: flex;
        align-items: center;
        span{
            font-size: 14px;
            font-weight: bold;
            margin-left: 1%;
        }
     }
     .rr{
       
        display: flex;
        align-items: center;
        b{
            margin-left: 5%!important;
        }
     }
 }
 section{
     width:100%;
     background: #fff;
     flex:1;
     flex-direction: column;
     overflow-y: scroll;
     .banner{
        width: 100%;
        height: auto;
        p{
            width: 100%;
            color:#999;
            position: relative;
            line-height: .3rem;
            padding-left: .1rem;
            font-size: .12rem;
            span{
                color:#999;
                position: absolute;
                right: .1rem;
            }
        }
        .container{
            width:100%;
            height: 2.6rem;
            overflow:hidden;
            img{
                width:100%;
                height: 2.6rem;
            }
        }
     }
     .data{
         width:100%;
         background: #fff;
         .one{
             width:100%;
             height: .3rem;
             line-height: .3rem;
             display: flex;
             justify-content: space-between;
             padding: 0 3%;
             border-bottom: 1px solid #ccc;
             font-size: 14px;
         }
     }
     .main1{
         width:100%;
         background: #fff;
         margin-top: .05rem;
         p{
             width:100%;
             height: .45rem;
             text-align: center;
             font-size: 16px;
             border-bottom: 1px solid #ccc;
         }
         .nav{
             width:100%;
             display: flex;
             flex-wrap: wrap;
             padding-top: .13rem;
             padding-bottom: .08rem;
             a{
                 width:25%;
                 display: flex;
                 flex-direction: column;
                 align-items: center;
                 img{
                     width:60%;
                     
                 }
                 span{
                     font-size: 14px;
                     padding-top: .08rem;
                     padding-bottom: .12rem;
                 }
             }
         }
     }
     .main2{
         width:100%;
         background: #fff;
         margin-top: .08rem;
         display: flex;
         flex-direction: column;
         p{
            font-size: .15rem;
            color:red;
            line-height: .3rem;
            border-bottom: .01rem solid #999;
         }
         .toggle{
             width:100%;
             dl{
                 width:100%;
                 dt{
                     width:100%;
                     height: .45rem;
                     line-height: .45rem;
                     padding-left: 5%;
                     border-bottom: 1px solid #ccc;
                     font-size: 16px;
                 }
                 dd{
                     width: 100%;
                     display: flex;
                     flex-wrap: wrap;
                     display: none;
                     border-bottom: 1px solid #ccc;
                     span{
                         display:inline-block;
                         border-bottom: 1px solid #ccc;
                         width:100%;
                         height: .4rem;
                         line-height: .4rem;
                         padding-left: .1rem;
                     }
                 }
             }
         }
     }
 }
  